.chatContainer {
  width: 100%;
}

.chatHeader {
  position: sticky;
  top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 20px;
  /* border-bottom: lightslategrey solid 1px; */
  width: 100%;
  background-color: white;
}
.backbutton {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 15px;
}
.backbutton:hover {
  background-color: lightgray;
}
.userTag {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.userTag:hover {
  background-color: lightgray;
}
.userProfileIcon {
  border-radius: 50%;
  background-color: lightpink;
  /* align-items: center; */
  text-align: center;
  margin-right: 10px;
}
.userTitle {
  font-weight: 500;
  margin-right: 10px;
}
.videoIcon {
  height: 35px;
  width: 35px;
  margin: 3px;
  margin-left: 15px;
  border-radius: 50%;
  padding: 5px;
}
.videoIcon:hover {
  background-color: lightgray;
}
.chatBody {
  padding: 50px;
  height: 60vh;
  background-color: lightcyan;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  z-index: 10;
}
.messageinput {
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 85%;
  padding: 10px;
  padding-bottom: 20px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
}
.textinput {
  width: 75%;
  border-style: none;
  height: 25px;
  padding: 7px;
  margin-left: 15px;
}
.textinput:focus {
  outline: none;
}
.customFileInput {
  margin: 1px;
  border-radius: 50%;
  height: 40px;
  width: auto;
  padding: 5px;
  color: gray;
  cursor: pointer;
}
.customFileInput:hover {
  background-color: lightgray;
}
.emojibg {
  margin: 5px;
  border-radius: 50%;
  height: 40px;
  width: auto;
  padding: 5px;
  color: gray;
  cursor: pointer;
}
.emojibg:hover {
  background-color: lightgray;
}
.emojiPickerContainer {
  position: absolute;
  top: -450px;
  right: 265px;

  z-index: 101;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.sendIcon {
  margin: 5px;
  border-radius: 50%;
  height: 40px;
  width: auto;
  padding: 5px;
  color: gray;
  cursor: pointer;
}
.sendIcon:hover {
  /* background-color:lightgray; */
  color: blue;
}
.messagecontainer {
  list-style: none;
  background-color: beige;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  margin: 10px;
  text-align: end;
}
.listcontainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.editIcon {
  color: lightgray;
  height: 2px;
  position: relative;
  top: -10px;
  right: -5px;
  cursor: pointer;
}
.videoContainer {
  position: relative;
  right: 5px;
  height: 200px;
  width: 300px;
  list-style: none;
  padding: 10px;
  border-radius: 20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin: 10px;
  text-align: end;
}
.imageContainer {
  position: relative;
  right: 5px;
  /* height:200px;
  width:300px; */
  list-style: none;
  background-color: none;
  border-radius: 10px;
  text-align: end;
  margin: 10px;
}
.selectedFilesContainer {
  display: flex;
  height: 100px;
  width: 100%;
}
.selectedImage {
  max-height: 100px;
  max-width: cover;
  padding: 5px;
}
.inputsection {
  border-color: gray;
  border-width: 1px;
  border-radius: 15px;
  border-style: solid;
  height: 43px;
  width: 85%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputOpen {
  border-color: gray;
  border-width: 1px;
  border-radius: 15px;
  border-style: solid;
  height: 100px;
  width: 90%;
  padding: 5px;
  /* padding-top:10px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.texteditorOpen {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 43px;
}
.textEditorIcons {
  margin-bottom: 5px;
  border-radius: 50%;
  height: 25px;
  width: auto;
  padding: 3px;
  color: gray;
  cursor: pointer;
}
.textEditorIcons:hover {
  background-color: lightgray;
}
.textEditorIconsactive {
  color: black;
}
.textEditor {
  margin: 0px;
  padding: 0px;
}
.boldTextInput {
  font-weight: bold;
}
.messageMenu {
  position: relative;
  bottom: 80px;
  right: 20px;
  cursor: pointer;
}
.messageMenu:hover {
  background-color: lightgray;
  border-radius: 50%;
}
.menuOptions {
  position: relative;
  top: 50px;
}

.texteditContainer {
  border-radius: 5px;
  border-top-right-radius: 0;
  float: right;
  background: #fff;
  box-shadow: 1px 1px 1px 1px #0003;
  margin: 3px 20px 3px 5px;
  min-width: 140px;
  padding: 3px 9px 5px;
  position: relative;
  
}

.textHead{
  display: flex;
  padding:5px;

}
.chatname{
  color: #4f81a1;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    font-weight: 500;
}
.chattext{
  color: #212529;
  font-size: 13.6px;
}
.textHead:hover{
  text-decoration: underline;
}
.reactQuill{
  width: "100%";
 
  border-style:none;
}